* {	margin: 0;	padding: 0;	list-style-type:none; border: 0;}
a,img{	border:0; text-decoration: none; color: #000000;}
body {	overflow-x:hidden;}
ul li {	color: #424242;	list-style: none;	text-decoration: none;}

.denglu_contentbg{ width: 1440px; height: 760px; margin: 0 auto;}
.denglu_content{ width: 1000px; height: 760px; border: 1px solid #fff; margin: 0 auto;}

/*第一部分内容*/
.denglu_top{width: 1000px; height: 110px; float: left; margin-top: 40px; background: url(../img/denglu/3.jpg) no-repeat 5px;}
.denglu_top p{ font-family: "微软雅黑"; font-size: 24px; color: #333333; height: 50px; line-height: 50px; width: 130px; text-align: center; margin-left: 265px; margin-top: 30px; border-left: 1px solid #cccccc;}

/*第二部分内容*/
.denglu_middle{ float: left; width: 994px; height: 315px; border: 3px solid #eeeeee;}
.denglu_middle_left{float: left; width: 591px; height: 315px; margin-left: 10px;}
.denglu_middle_left .middle_left_top{ float: left; width: 591px; height: 246px; margin-top: 10px;}
.denglu_middle_left .middle_left_footer{ border-top: 2px solid #ccc; background-color: #f4f4f4; float: left; width: 591px; height: 30px; line-height: 30px; margin-top: 10px;}
.denglu_middle_left .middle_left_footer ul li{ margin-left: 20px; width: 120px; float: left; font-family: "微软雅黑"; font-size: 12px; color: #7e7e7e;}
.jiamen{ background: url(../img/denglu/7.jpg) no-repeat 90px;}
.xingming{text-align: right;}

.denglu_middle_right{ float: left; margin-left: 53px; width: 307px; height: 315px;}
.denglu_middle_right ul li{ float: left; width: 307px; font-family: "微软雅黑"; font-size: 14px; color: #7E7E7E;}
.yonghuming{ margin-top: 10px; margin-bottom: 6px;}
.mima{ margin-top: 10px; margin-bottom: 6px;}
.SmallInput{ width: 303px; outline:none; border: 1px solid #eeeeee; height: 30px; line-height: 30px; box-shadow: 0 0 3px #ccc; background-image: url(../img/denglu/5.jpg); background-repeat: no-repeat; background-position: right center;}
.SmallInput1{ width: 303px;outline:none; border: 1px solid #eeeeee; height: 30px; line-height: 30px; box-shadow: 0 0 3px #ccc; background-image: url(../img/denglu/6.jpg); background-repeat: no-repeat; background-position: right center;}
.denglu_middle_right ul li p{ height: 30px; line-height: 30px; float: left; width: 150px; margin-top: 15px; font-family: "微软雅黑"; color: #424242; font-size: 12px;}
.wangji{ text-align: right;}
.denglu_danxuan{ padding-left:3px;}
.danxuan{ float: left; margin-top: 8px; margin-right: 3px;}

.denglu_btn{ cursor: pointer; width: 307px; float: left; margin-top: 17px; background: #e43a3d; color: #fff; font-family: "微软雅黑"; font-size: 20px; height: 35px; line-height: 35px;}
.zhuce_btn{cursor: pointer; float: right; margin-top: 30px; padding-left: 20px; width: 120px; color: #f00; font-family: "微软雅黑"; font-size: 14px; height: 30px; line-height: 30px; border-radius: 20px; background: #f8faf9; border: 1px solid #C7CACA; background-image: url(../img/denglu/8.jpg); background-repeat: no-repeat; background-position: 15px;}

/*第三部分内容*/
.denglu_footer{ text-align: center; width: 994px; height: 100px; padding-top: 10px; border-top: 2px solid #f00; margin: 0 auto; clear: both; float: left; margin-top: 100px;}
.denglu_footer ul li{ float: left; width: 994px; height: 25px; line-height: 25px; font-size: 12px; font-family: "微软雅黑";}
.footer_daohang span a:hover{ color: #f00;}
