/*dede58.com 做最好的织梦整站模板下载网站*/
/************* banner *************/
/* flexslider */
.flexslider{position:relative;height:420px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:420px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../images/prev.png) center center no-repeat; display:none;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../images/next.png) center center no-repeat; display:none;}

.index-title{
	width:100%;
	clear:both;
	height:45px;
	padding-top:20px;
	line-height:45px;
}

.index-title h2{
	float:left;
	color:#000;
	font-size:20px;
	font-weight:bold;
	FONT-FAMILY: "Microsoft Yahei";
}

.index-title span a{
	color:#333;
	float:right;
	width:85px;
	height:20px;
	display:block;
	font-size:12px;
	margin-top:10px;
	line-height:20px;
	padding-left:15px;
	background-color:#e3e3e3;
	background-image: url(../images/more01.jpg);
	background-repeat: no-repeat;
	background-position:75px center;
}

.special-pro{
	zoom:1;
	clear:both;
	overflow:hidden;
}

.special_left{
	float:left;
	width:940px;
}

.special_left_k{
	zoom:1;
	width:938px;
	height:394px;
	border-left:solid #e3e3e3 1px;
	border-bottom:solid #e3e3e3 1px;
}

.special_left_k ul li{
	float:left;
	width:468px;
	height:196px;
	border-top:solid #e3e3e3 1px;
	border-right:solid #e3e3e3 1px;
}

.special_left_k .special-img{
	float:left;
	width:190px;
	padding:20px 20px 0px 20px;
}

.special_left_k .special-right2{
	float:left;
	width:210px;
	padding-top:20px;
	padding-right:20px;
	overflow:hidden;
}

.special_left_k .special-right2 h3{
	font-size:14px;
	line-height:20px;
	overflow:hidden;
	padding-bottom:10px;
}

.special_left_k .special-right2 h3 a{
	color:#333;
}

.special_left_k .special-right2 h3 a:hover{
	color:#f00;
}

.special_left_k .special-right2 del{
	clear:both;
	color:#999999;
	font-size:12px;
	line-height:20px;
}

.special_left_k .special-right2 p{
	clear:both;
	color:#999;
	font-size:12px;
}

.special_left_k .special-right2 p span{
	color:#d90000;
	font-size:18px;
	FONT-FAMILY: "Microsoft Yahei";
}

.special_left_k .special-right2 .price-k{
	clear:both;
	width:205px;
	height:39px;
	margin-top:10px;
	line-height:39px;
	background-color:#fe8b3b;
}

.special_left_k .special-right2 .price-k strong{
	color:#FFF;
	float:left;
	width:110px;
	font-size:22px;
	padding-left:12px;
	FONT-FAMILY: "Microsoft Yahei";
}

.special_left_k .special-right2 .price-k a{
	color:#FFF;
	width:80px;
	float:right;
	font-size:22px;
	text-align:center;
	background-color:#f95800;
	FONT-FAMILY: "Microsoft Yahei";
}

.special_right{
	float:right;
	width:240px;
}

.special_right h3{
	clear:both;
	height:45px;
	font-size:16px;
	font-weight:bold;
	line-height:45px;
	padding-top:15px;
	FONT-FAMILY: "Microsoft Yahei";
}

.special_right_k{
	width:240px;
	height:400px;
	overflow:hidden;
}

.special_right_k img{
	margin-top:6px;
	margin-bottom:5px;
}

.list-pro{
	clear:both;
}

.bb2{
	border-bottom:solid 2px #a58a8a;
}



