/*dede58.com 做最好的织梦整站模板下载网站*/
@charset "utf-8";
/* margin and padding */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,img,form,applet,fieldset,legend,button,input,textarea,th,table,tr,td{margin:0;padding:0;border:none;}
.clear{clear:both;height:0;width:100%;}

/* bady */
body{font-family:"微软雅黑";font-size:14px;color:#999;background:#fff ; }
body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p{-webkit-text-size-adjust:none}
html{height:100%;}
input::-ms-clear{display:none;}/*清楚文本框X*/

/* img */
img{padding:0;margin:0;vertical-align:top;border:none}
li,ul{list-style:none;outside:none;}
dl,dt,dd{-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}

/* 微信浮出框 */
.weixin{ width:60px; height:60px; position:relative; font-size:12px; text-align:center; float:right; color:#000; margin-right:30px;}
.weixin a{width:60px; height:60px; display:block; position:absolute; left:0; top:0;background:url(../images/erweima.png) no-repeat center top; }
.weixin .weixin_nr{width:120px; height:180px; padding:10px; background:#fff; text-align:center; position:absolute; left:-45px; top:45px; display:none;}
.weixin .weixin_nr img{ margin-bottom:5px;}
.weixin .weixin_nr .arrow{ width:0; height:0; border-bottom:10px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent; position:absolute; left:50px; top:-10px;}
.weixin.on .weixin_nr{ display:block; z-index:999}
.weixin.on a{ background:url(../images/erweima.png) no-repeat left bottom;}

/* 顶部 */
.head{height:35px;margin:0 auto;background:url(../images/top_bg-022.png) repeat-x;}
.hear_l{line-height:35px;height:35px;float:left; color:#000;}
.hear_l a:link, 
.hear_l a:visited { color:#000; text-decoration:none; } 
.hear_l a:hover, 
.hear_l a:active {color:#ff6600; } 
.head_r{line-height:35px;float:right;}
.head_r a{margin:0 10px;color:#000; }
.cstop{ width:90%;min-width:1000px;max-width:1300px;margin:0 auto; margin-top:15px; margin-bottom:25px;height:100px;}
.cstop_l{ float:left; width:90%; height:100px; background:url(../images/top-1.jpg) no-repeat;}
.cstop_r{ float:right; width:10%; padding:15px 0;}
.toploading{height:35px;width:100%;margin:0 auto; }
.toploading_r{ float:left; margin-left:5%; line-height:35px; }
.toploading_l{ float:right;line-height:35px; margin-right:5%;}
.toploading_r a,.toploading_l a{margin:0 10px;color:#000;}
a{color:#fff;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;color:#ff6600;}
.head{height:35px;margin:0 auto;background:url(../images/top_bg-022.png) repeat-x;}
.hear_l{line-height:35px;height:35px;float:left; color:#000;}
.hear_l a:link, 
.hear_l a:visited { color:#000; text-decoration:none; } 
.hear_l a:hover, 
.hear_l a:active {color:#ff6600; } 
.head_r{line-height:35px;float:right;}
.head_r a{margin:0 10px;color:#000; }
.header{height:50px;width:100%;margin:0px auto;}
.nav{float:left;height:50px;width:75%;margin-left:250px;position:relative; font-size:16px;}
.nav span{height:5px;width:80px;background:#ff6600;position:absolute;margin:-2px 0 0 15px;left:0px;top:0px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.nav li{line-height:50px;text-align:center;list-style-type:none;width:110px;float:left;}
.nav a{width:110px;float:left;}.nav_in{color:#ff6600;}
.nav1{margin-left:15px!important;}.nav2{margin-left:125px!important;}.nav3{margin-left:235px!important;}
.nav4{margin-left:345px!important;}.nav5{margin-left:455px!important;}.nav6{margin-left:565px!important;}
.top{width:100%;background:url(../images/top_bg-01.png) repeat-x;;position:relative;}

/* 广告位 */
.banner_guanggao{ width:100%;margin:0 auto;padding:5px 0 5px 0;}
.banner_guanggao img{background:white;margin:0 5px;border:5px #eee solid;}
.banner_guanggao img:hover{border:5px #eee solid;}
.banner_guanggao_l{ float:left; width:60%; margin-left:-5px }
.banner_guanggao_l img{border:5px solid #eee;}
.banner_guanggao_l img:hover{border:5px #ff6600 solid;}
.banner_guanggao_r{ float:right;width:38%; margin-right:10px;}
.banner_guanggao_r img{border:5px solid #eee;}
.banner_guanggao_r img:hover{border:5px #ff6600 solid;}
/* 焦点图一栏 */
.banner{ width:90%;min-width:1000px;max-width:1300px;margin:0 auto;height:520px;}
.banner_l{float:left;width:80%; margin:0; border:0;}
.banner_l_t{ width:100%;margin:0; border:10px;}
.banner_l_t_l{width:22%; float:left;margin:0; border:0;}
.banner_l_t_r{width:75%; float:right;margin:10px; border:0; margin-right:15px;}
.banner_l_b{ width:100%;margin:0; height:120px; overflow:hidden;}
.banner_r{float:right;border:solid 1px #eee;width:18%; margin-top:10px; line-height:30px; background-color:#FFF;}
.banner_r a:link, 
.banner_r a:visited { color:#999; text-decoration:none; } 
.banner_r a:hover, 
.banner_r a:active {color:#ff6600; } 

/* 焦点图下的专题图片 */
.box{ width:100%; margin:0 auto; position:relative; overflow:hidden; height:100%;padding:0; margin-top:15px; }
.picbox{ width:100%; height:120px; overflow:hidden; position:relative;padding:0;}
.piclist{ height:120px;position:absolute; left:0px; top:0px}
.piclist li{ background:#eee; margin-right:10px; padding:5px; float:left;}
.swaplist{ position:absolute; left:-3000px; top:0px}
.og_prev,.og_next{ width:30px; height:50px; background:url(../images/icon.png) no-repeat; background:url(../images/icon_ie6.png) no-repeat\9; position:absolute; top:33px; z-index:99; cursor:pointer;filter:alpha(opacity=70); opacity:0.7;}
.og_prev{ background-position:0 -60px; left:4px;}
.og_next{ background-position:0 0; right:4px;}

/* 焦点图右的登陆 */
.banner_r_H{ text-align:center;}
.banner_r_load{ text-align:center; font-weight:bold; border-bottom:solid 1px #eee; border-top:solid 1px #eee; height:50px; line-height:50px; font-size:16px; background:#eee url(../Images/banner_load01.png) no-repeat; margin-bottom:}

/* 焦点图右的选项卡 */
.banner_r_ka{list-style:none; margin:0;padding:0;overflow:hidden; height:215px;}
.tab1{width:100%;border-bottom:#eee solid 1px;}
.menuka{width:100%;background:#fff;height:40px;border-bottom:#eee solid 1px;}
.menuka li{float:left;width:32.5%;text-align:center;line-height:40px;height:40px;cursor:pointer;color:#666;overflow:hidden}
.menudiv{width:100%;height:170px;border-top:0;background:#fff;}
.menudiv div{padding:15px;line-height:24px;}
.off{background:#eee;color:#ff6600;font-weight:bold;border-bottom:#ff6600 solid 1px;}

/* 焦点图右的数字 */
.banner_shu{width:100%;border-bottom:#eee solid 1px;text-align:center; font-size:14px; font-weight:bold; line-height:32px; height:32px; }
.banner_shu_1{width:100%;border-bottom:#eee solid 1px; height:50px; }


/* 左导航 */
.menu{height:365px;background:#eee;width:220px;opacity:0.9;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.menu:hover{opacity:1;}
.menu ul{position:relative;}
.menu li{height:43px;width:220px;font-size:14px;background:#eee;line-height:43px;color:#000;border-bottom:1px solid #fff;border-top:1px solid #fff;float:left;cursor:pointer;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.menu li:hover{background:#009237;border-top:1px solid #fff;}
.menu li i{height:20px;width:20px;float:left;color:#333;text-align:center;margin:11px 15px 12px 12px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.menu li:hover i{margin:11px 10px 12px 17px;}
.menu li span{float:left;}
.menu li dd{float:right;height:43px;width:43px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.menu li:hover dd{-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.menu_bg{background:url(../images/menu_bg.png) no-repeat left center;position:absolute;left:67px;top:225px;height:10px;width:10px;}
.menu_n{min-height:365px;height:auto;width:0px;position:absolute;left:220px;top:-1px;-moz-transition:all 0.8s;-webkit-transition:all 0.8s;transition:all 0.8s;background:#fff;overflow:hidden;opacity:0.95;z-index:999;}
.menu li:hover .menu_n{width:640px;border:1px solid #333;border-top:none!important;border-left:none!important;}.menu_n:hover{opacity:1;}
.menu_r{width:640px;min-height:365px;border-top:1px solid #333;height:auto;float:left;background:#fff;float:left;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;overflow:hidden;z-index:999;}
.menu_r dt {float:left;width:600px;margin:0 20px;}
.menu_bt {float:left;height:36px;width:100%;border-bottom:1px solid #CCC;line-height:36px;color:#666;margin-top:5px;}
.menu_bt span {float:left;}
.menu_bt a {float:right;color:#ff6600;}
.menu_name {float:left;width:100%;line-height:24px;overflow:hidden;margin-top:5px;}
.menu_name a {color:#999;display:block;float:left;margin-right:15px;}
.menu_name a:hover {color:#ff6600;}


/* main */
.main{ width:90%;min-width:1000px;max-width:1300px;margin:0 auto;height:520px; margin-top:-10px;}
.main_jidi{width:50%; float:left;padding:0;}
.main_jidi_t{ height:40px; background:url(../Images/main_jidi.png) no-repeat;border-bottom:#eee solid 1px;padding:0; margin-bottom:10px;}
.main_jidi_l{width:46%; float:left; height:260px; padding:5px; margin:0; overflow:hidden;border:solid 5px #eee;}
.main_jidi_r{width:45%; float:right;padding:5px; margin-right:5px; overflow:hidden;border:solid 5px #eee;}
.main_chanyedai{width:50%; float:right;padding:0;}
.main_chanyedai_t{ height:40px; background:url(../Images/main_chanyedai.png) no-repeat;border-bottom:#eee solid 1px;padding:0;margin-bottom:10px;}
.main_chanyedai_l{width:46%; float:left; height:260px; padding:5px; margin-left:5px; overflow:hidden;border:solid 5px #eee;}
.main_chanyedai_r{width:45%; float:right;padding:5px; margin:0; overflow:hidden;border:solid 5px #eee;}
.main_one{width:100%; float:left;padding:0; margin-top:10px; height:390px;}
.main_one_t{ height:40px; background:url(../Images/main_one01.png) no-repeat;border-bottom:#eee solid 1px;padding:0; margin-bottom:10px;}
.main_one_t1{ height:40px; background:url(../Images/main_one02.png) no-repeat;border-bottom:#eee solid 1px;padding:0; margin-bottom:10px;}
.main_one_t2{ height:40px; background:url(../Images/main_one03.png) no-repeat;border-bottom:#eee solid 1px;padding:0; margin-bottom:10px;}
.main_one_m{width:50%; float:left;padding:0;}
.main_one_l{width:48%; float:left; height:330px; padding:5px; margin:0; overflow:hidden;border:solid 1px #eee;}
.main_one_txt{ width:100%;}
.main_one_txt a:link, 
.main_one_txt a:visited { color:#333; text-decoration:none; } 
.main_one_txt a:hover, 
.main_one_txt a:active {color:#ff6600; } 
.main_one_r{width:45%; float:right;padding:5px; margin-right:5px; overflow:hidden; line-height:24px; overflow:hidden;}
.main_one_mm{width:49.5%; float:right;padding:0; overflow:hidden;}
.main_one_01{width:100%;  }
.main_one_02{width:100%; border:solid 1px #eee; line-height:30px;}
.main_one_02 a:link, 
.main_one_02 a:visited { color:#333; text-decoration:none; } 
.main_one_02 a:hover, 
.main_one_02 a:active {color:#ff6600; } 
.main_two{width:100%; float:left;padding:0; margin-top:15px; height:380px;}
.main_two_l{width:50%; float:left;padding:0;}
.main_two_t{ height:40px; background:url(../Images/main_one04.png) no-repeat;border-bottom:#eee solid 1px;padding:0; margin-bottom:10px;}
.main_two_t1{ height:40px; background:url(../Images/main_one05.png) no-repeat;border-bottom:#eee solid 1px;padding:0; margin-bottom:10px;}
.main_two_t2{ height:40px; background:url(../Images/main_one06.png) no-repeat;border-bottom:#eee solid 1px;padding:0; margin-bottom:10px;}
.main_two_t3{ height:40px; background:url(../Images/main_one07.png) no-repeat;border-bottom:#eee solid 1px;padding:0; margin-bottom:10px;}
.main_two_r{width:49.5%; float:right;padding:0; overflow:hidden;}


/* foot*/
.bottomback{background:#eee; margin-top:100px;}
.bottomback a:link, 
.bottomback a:visited { color:#999; text-decoration:none; } 
.bottomback a:hover, 
.bottomback a:active {color:#ff6600; } 
.bottom{background:#eee;height:220px;width:100%;border-top:2px solid #eee;position:relative;border-bottom:#eee solid 1px;}
.bottom_left{width:160px;height:250px;position:absolute;top:-80px;left:50%;margin-left:-600px;background:#eee url(../images/bottom_left.png);}
.bottom_logo{width:160px;height:100px;float:left;}
.bottom_city{width:700px;height:80px;position:absolute;top:-80px;right:50%;margin-right:-600px;background:url(../images/city.png);}
.bottom_center{width:90%;min-width:1000px;max-width:1300px;margin:0 auto;height:220px; color:#eee;}
.bottom_tab{height: 220px;float: left;margin-left:320px;width:880px;}
.bottom_tab dl{float:left;width:170px;height:220px;overflow:hidden;margin-left:50px;}
.bottom_tab dd{height:40px;width:100%;margin:10px 0 5px 0;float:right;font-size:20px;line-height:40px;color:#333;}
.bottom_tab dt{float:left;height:24px;width:100%;overflow:hidden;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;float:left;height:24px;line-height:24px;font-size:14px;}
.bottom_tab dt a{padding-left:0px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.bottom_tab dt a:hover{padding-left:10px;}

.copy{height:36px;line-height:36px;width:100%;text-align:center;color:#ccc;background:#222;border-top:1px solid #252525;}

.go_center{width:120px;height:180px;position:fixed;bottom:2px;left:50%;margin-left:580px;z-index:999;}
.go_top{width:100px;height:50px;float:left;}
.go_top img{height:30px;width:120px;margin-top:20px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.go_top:hover img{margin:0 0 20px 0;}
.go_ma{width:80px;height:100px;float:left;}
.go_ma img{width:80px;height:80px;padding:9px;border:solid 1px #ccc;background:#fff;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.go_center:hover .go_ma img{border:1px solid #333;}
.go_text{height:30px;width:100px;line-height:30px;color:#fff;background:#333;float:left;text-align:center;}


/* 楼层导航*/
#moquu_sc,#moquu_sg,#moquu_xm,#moquu_ly,#moquu_nf,#moquu_mm,#moquu_nz,#moquu_top,#moquu_wxin,#moquu_wshare,#moquu_wmaps {z-index:2;width:40px;height:440px;right:10px;position:fixed;cursor:pointer;	_position:absolute;	_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))
}
#moquu_sc {top:140px;_margin-top:140px}
#moquu_sc a:link, 
#moquu_sc a:visited{background:url(../images/sbtn-1.png) 0 -0px;width:40px;height:40px;right:0;float:left;text-indent:-9999px}
#moquu_sc a:hover, 
#moquu_sc a:active {background:url(../images/sbtn-1.png) -40px -0px;} 
#moquu_sg {top:182px;_margin-top:182px}
#moquu_sg a:link, 
#moquu_sg a:visited{background:url(../images/sbtn-1.png) 0 -40px;width:40px;height:40px;right:0;float:left;text-indent:-9999px}
#moquu_sg a:hover, 
#moquu_sg a:active {background:url(../images/sbtn-1.png) -40px -40px} 
#moquu_xm {top:224px;_margin-top:224px}
#moquu_xm a:link, 
#moquu_xm a:visited{background:url(../images/sbtn-1.png) 0 -80px;width:40px;height:40px;right:0;float:left;text-indent:-9999px}
#moquu_xm a:hover, 
#moquu_xm a:active {background:url(../images/sbtn-1.png) -40px -80px}
#moquu_ly {top:266px;_margin-top:266px}
#moquu_ly a:link, 
#moquu_ly a:visited{background:url(../images/sbtn-1.png) 0 -120px;right:0;float:left;width:40px;height:40px;text-indent:-9999px}
#moquu_ly a:hover, 
#moquu_ly a:active {background:url(../images/sbtn-1.png) -40px -120px;}
#moquu_nf {top:308px;_margin-top:308px}
#moquu_nf a:link, 
#moquu_nf a:visited{background:url(../images/sbtn-1.png) 0 -160px;width:40px;height:40px;right:0;float:left;text-indent:-9999px}
#moquu_nf a:hover, 
#moquu_nf a:active {background:url(../images/sbtn-1.png) -40px -160px;}
#moquu_mm {top:350px;_margin-top:350px}
#moquu_mm a:link, 
#moquu_mm a:visited{background:url(../images/sbtn-1.png) 0 -200px;width:40px;height:40px;right:0;float:left;text-indent:-9999px}
#moquu_mm a:hover, 
#moquu_mm a:active {background:url(../images/sbtn-1.png) -40px -200px;}
#moquu_nz {top:392px;_margin-top:392px}
#moquu_nz a:link, 
#moquu_nz a:visited{background:url(../images/sbtn-1.png) 0 -240px;width:40px;height:40px;right:0;float:left;text-indent:-9999px}
#moquu_nz a:hover, 
#moquu_nz a:active {background:url(../images/sbtn-1.png) -40px -240px;}
#moquu_wxin {top:434px;_margin-top:434px}
#moquu_wxin a {	background:url(../images/sbtn-1.png) 0 -280px;width:40px;height:40px;right:0;float:left;text-indent:-9999px}
#moquu_wxin a:hover {background:url(../images/sbtn-1.png) -40px -280px}
#moquu_wmaps {top:476px;_margin-top:476px}
#moquu_wmaps a {background:url(../images/sbtn-1.png) 0 -320px;width:40px;height:40px;right:0;float:left;text-indent:-9999px}
#moquu_wmaps a:hover {background:url(../images/sbtn-1.png) -40px -320px}
#moquu_wshare {top:518px;_margin-top:518px}
#moquu_wshare a {background:url(../images/sbtn-1.png) 0 -400px;width:40px;height:40px;right:0;float:left;text-indent:-9999px}
#moquu_wshare a:hover {	background:url(../images/sbtn-1.png) -40px -400px}
#moquu_top {top:560px;_margin-top:560px;background:url(../images/sbtn-1.png) 0 -360px;width:40px;height:40px}
#moquu_top:hover {background:url(../images/sbtn-1.png) -40px -360px}
.moquu_sc,.moquu_sg,.moquu_xm,.moquu_ly,.moquu_nf,.moquu_mm,.moquu_nz,.moquu_wxin,.moquu_wshare,.moquu_wmaps {position:relative;z-index:2}
.moquu_wxin a:hover .moquu_wxinh,.moquu_wshare a:hover .moquu_wshareh,.moquu_wmaps a:hover .moquu_wmapsh {display:block}
.moquu_wxin .moquu_wxinh {position:absolute;display:none;left:-280px;top:-200px;width:275px;height:355px;background:url(../images/lrtk_weixin.png) 0 -2px no-repeat}
.moquu_wmaps .moquu_wmapsh {position:absolute;display:none;left:-280px;top:-200px;width:275px;height:360px;background:url(../images/lrtk_app.png) no-repeat}

/* 第二屏开始顶部浮出窗口*/
#top_fuchu{ height:50px; z-index:9999; width:auto; overflow:hidden}

.aa{ width:100%;height:80px; position:fixed; background:#eee; _position:absolute;_top:expression(eval(document.documentElement.scrollTop));z-index:1000;left:0;top:0; border-bottom:solid 1 #009237;overflow:hidden}