/* CSS Document */
@charset "utf-8";
body{font-family: '宋体' , Arial, Helvetica, sans-serif;line-height: 22px;color: #000; background:#fcf8ed;} 
body, div, dl, dt, dd, ul, ol, li,  h4, h5, h6, pre, form, fieldset, p, b, blockquote, table, th, img, font
, hr{margin:0;padding:0;font-size: 12px;}
input,button,select,textarea{outline:none}
ul,ol,li{list-style: none;}
img {border: none;vertical-align: middle; -ms-interpolation-mode: bicubic;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;}
em{font-style: normal;}
a{text-decoration:none; color:#333333;}
a:hover{text-decoration:none;}

/*header*/
#header{ width:100%; height:35px; line-height:35px; background:#f5f5f5; border-bottom:1px  solid #eeeeee;}
#header .conent{ width:1200px; height:35px; line-height:35px; margin:0 auto;  background:#f5f5f5;}
#header .left{ width:300px; height:35px; float:left;}
#header .left span{ color:#838080; margin-right:20px;}
#header .left a{ color:#777575;padding-left:5px; padding-right:5px;}
#header .left a:hover{ color:#d62c2c;}
#header .left tt{ color:#888; font-size:10px;}
#header .right{height:35px;float:right;}
#header .right a{ display:block; float:right; padding-left:10px; padding-right:10px; color:#777575;}
#header .right span{ display:block; width:5px;color:#888; font-size:10px; float:right; text-align:center;}
#header .right .bj{ background:url(../image/weixin.jpg) no-repeat 3px; text-indent:15px;}
#header .right .bj2{ background:url(../image/shoucang.jpg) no-repeat 3px; text-indent:15px;}
#header .right .bj3{ background: url(../image/dan.png) no-repeat 8px; text-indent:15px;}
#header .right a:hover{ color:#d62c2c;}

/*logo*/
#wrapper{ width:100%; height:110px; margin:0 auto; background:#fff;}
#wrapper .conent{ width:1200px; height:110px; margin:0 auto; background:#fff;}
#wrapper .logo{ width:245px; height:65px; float:left; margin-top:17px;}
#wrapper .search{ width:551px; height:73px; float:left; margin-top:25px; margin-left:148px;}
#wrapper .search_top{ width:551px; height:43px;}
#wrapper .search_lef{ width:505px; height:43px; background:#d62c2c; float:left;}
#wrapper .text_wen{ width:358px; height:35px; background: url(../image/search.jpg) no-repeat 5px #fff; margin-top:3px; margin-left:3px; border:0px; line-height:35px; color:#555; padding-left:47px; float:left; }
#wrapper .button{ width:94px; height:42px; line-height:47px; background: url(../image/sou.jpg) no-repeat center #d62c2c; color:#fff; font-size:18px; float:left; border:0px;}
#wrapper .search_top a{ width:28px; color:#7e7a7a; float:left; margin-left:10px; line-height:22px;}
#wrapper p{ line-height:26px;}
#wrapper p span{ color:#9b9999;}
#wrapper p a{ color:#9b9999; margin-right:13px;}
#wrapper p a:hover{ color:#d62c2c;}
#wrapper .right{ width:200px; height:60px; float:left; margin-top:23px; margin-left:48px;}
#wrapper .right .tops{ height:34px;}
#wrapper .right  p{ font-size:14px; font-family:microsoft yahei; color:#363333; padding-left:10px;}
#wrapper .right  p span{ color:#d62c2c; font-size:14px;  font-family:microsoft yahei; }




/*导航*/
#nav{ width:100%; height:56px; background:#d62c2c;}
#nav .conent_na{ width:1200px; margin:0 auto; height:56px; position:relative; background:#d62c2c; }
#nav .conent_na ul li{ float:left; height:56px; line-height:56px; }
#nav .conent_na ul{  float:left; margin-left:10px; height:56px;}
#nav .conent_na ul li a{ display:block; padding-left:36px; padding-right:36px; font-size:18px; font-family:microsoft yahei; color:#fff; background:url(../image/shu.jpg) no-repeat right; float:left; height:56px; line-height:56px;}
#nav .conent_na ul li a:hover{ background:#af1414;}
#nav .conent_na  .quanbu{ width:184px; height:56px; background:#af1414; float:left; position:relative;}
#nav .conent_na  .quanbu a{ height:56px;line-height:54px; color:#fff;font-size:18px; font-family:microsoft yahei; padding-left:17px; background:url(../image/xiala.jpg) no-repeat 150px; display:block;}



/*main中部*/
#main{ width:1200px;  margin:0 auto; position:relative;}
#main .left_lb{ width:186px; height:490px; background:#d6d0ce; float:left; position:absolute; left:0px; z-index:10000}
#main .left_lbs{ width:182px; height:486px; float:left; background:#f8f8f8; border:1px solid #af1414;}
.all-sort-list { position:relative; width:180px;  border-top:none; }
.all-sort-list .item {width:180px; clear:both; height:36px;  }
.all-sort-list .item.bo { border-top:none; } 
.all-sort-list .item h3 { height:35px; line-height:35px;  font-size:14px; font-family:microsoft yahei; font-weight:normal; width:180px; margin:0 auto; text-indent:0px; text-align:left; }
.all-sort-list .item .border{ width:160px; margin:0 auto; height:34px; line-height:34px; margin:0 auto; border-bottom:1px solid #ddd; background:url(../image/list.jpg) no-repeat right; padding-left:5px;}
.all-sort-list .hover h3 { position:relative; z-index:13;  border-color:#af1414; border-width:1px 0px; border-style:solid; background:#fff; }
.all-sort-list .item  a { color:#333; text-decoration:none; float:left;}
.all-sort-list .item span{ color:#666; font-size:12px; font-family: "宋体"; font-weight:normal; float:right;}
.all-sort-list .item:hover { color:#E4393C; }
.all-sort-list .item-list { display:none;position:absolute;width:477px;background:#FFF;left:179px;box-shadow:0px 0px 10px #DDDDDD;border:1px solid #af1414;top:10px;z-index:10;}
.all-sort-list .item-list .close { position:absolute;width:26px;height:26px;color:#FFFFFF;cursor:pointer;top:-1px;right:-26px;font-size:20px;
	line-height:20px;text-align:center;font-family:"Microsoft Yahei";background:rgba(0, 0, 0, 0.6); background-color:transparent\9;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#60000000', endColorstr='#60000000');}

.item-list .subitem { float:left; width:465px; padding:10px 4px 10px 8px; }
.item-list .subitem dl { border-top:1px solid #EEE; padding:6px 0px; overflow:hidden; zoom:1; }
.item-list .subitem .fore1 { border-top:none; }
.item-list .subitem dt { float:left; width:100px; line-height:22px; text-align:left; padding:3px 6px 0px 0px; font-weight:700; color:#E4393C; }
.item-list .subitem dt a { color:#E4393C; text-decoration:underline; }
.item-list .subitem dd { float:left; width:350px; padding:3px 0px 0px; overflow:hidden; }
.item-list .subitem dd em { float:left; height:14px; line-height:14px; padding:0px 8px; margin-top:5px; border-right:1px solid #CCC; }
.item-list .subitem dd em a, .item-list .cat-right dd a { color:#666; text-decoration:none; }
.item-list .subitem dd em a:hover, .item-list .cat-right dd a:hover { font-weight:normal; text-decoration:underline; }
.item-list .cat-right { float:right; width:210px; }
.item-list .cat-right dl { width:194px; padding:6px 8px; }
.item-list .cat-right dd { padding-top:6px; line-height:22px; overflow:hidden; padding:3px 0px 0px; }
.item-list .cat-right dt { padding:3px 6px 0px 0px; font-weight:700; color:#E4393C;  }
.item-list .cat-right dt a{ display:block; width:auto;}
.item-list .cat-right dd a:hover { color:#666; }

#main .zhong{ width:710px; height:475px; background:#fff; float:left; margin-left:13px; margin-top:12px; border-bottom:1px solid #e5e5e5;}
#main .banner_as{width:710px;height:310px;}
#main .guanggao{ width:233px; height:164px; float:left; border-right:1px solid #e5e5e5;}
#main .guanggao img{ width:230px; height:164px; }

#main .right_gs{ width:276px; height:215px; float:right;}
#main .right_gs .tittle_sd{ width:276px; height:35px;}
#main .news{ width:276px; height:215px; border:1px solid #e1e1e1; background:#fff; margin-top:12px;}
#main .news .tittle{ width:276px; height:27px;}
#main .news .tittle span{ display:block; width:89px; height:27px; line-height:27px; text-align:center; font-size:14px; font-weight:bold; float:left; color:#3c3c3c;}
#main .news .right{ float:left; width:185px; height:25px; border:1px solid #e1e1e1; border-top:0px; border-right:0px; background:#f7f7f7;}
#main .news ul{ margin-left:15px; margin-top:10px;}
#main .news ul li{ background:url(../image/list1.jpg) no-repeat 0px; line-height:24px; text-indent:10px; }
#main .news ul li a{color:#555555}
#main .copany{ width:276px; border:1px solid #e1e1e1; margin-top:12px; height:245px;}
#main .copany img{ width:276px;height:245px;}


/*banner*/
.banner {Z-INDEX: 99; MARGIN: 0px auto; WIDTH:710px; HEIGHT:310px; _width:710px; position:relative;}
.flexslider{margin:0px;position:relative;width:710px;height:310px;overflow:hidden;zoom:1;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.flex-viewport img{ width:710px; height:310px;}
.flexslider .slides{zoom:1;}
.flex-direction-nav a{width:46px;height:46px;line-height:99em;overflow:hidden;margin:-30px 0 0;display:block;background:url(../image/ad_ctr.png) no-repeat 0px -12px;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;}
.flex-direction-nav .flex-next{background-position:0 -102px;right:0;}
.flex-direction-nav .flex-prev{left:0;}
.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;filter:alpha(opacity=50);}
.flex-control-nav{width:100%;position:absolute;bottom:10px;text-align:center;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../image/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:0 0;}

/*品牌厂家*/

#main2{ width:1200px; height:auto; margin:0 auto;}
#main2 .tittle_pp{ width:1185px; height:35px; line-height:35px; border-bottom:3px solid #d62c2c; background: url(../image/list_b.jpg) no-repeat 0px; margin-top:15px; font-size:18px; font-family:microsoft yahei; padding-left:15px;}
#main2 .tittle_pp a{ float:right; margin-top:5px;}
#main2 .pin_con{ width:225px; height:115px; float:left; margin-left:16px; border:1px solid #ddd; margin-top:18px;}
#main2 .pin_con img{ width:225px; height:115px;}

/*热卖产品*/
#main3{ width:1200px; height:auto; margin:0 auto;}
#main3 .tittle_pp{ width:1185px; height:35px; line-height:35px; border-bottom:3px solid #d62c2c; background: url(../image/list_b.jpg) no-repeat 0px; margin-top:15px; font-size:18px; font-family:microsoft yahei; padding-left:15px;}
#main3 .tittle_pp a{ float:right; margin-top:5px;}
#main3 .conent_warp{ width:290px; height:329px; float:left; margin-left:13px; margin-top:14px; background:url(../image/bj_we.jpg) no-repeat bottom; }
#main3 .conent_nei{ width:288px; height:323px; overflow:hidden; border:1px solid #e2e2e2; background:#fff;}
#main3 .conent_nei .tupian{ width:288px; height:192px; overflow:hidden;}
#main3 .conent_nei .tupian img{ width:288px; height:190px;}
#main3 .conent_wenzi{ width:288px; background:#efeeee; height:122px; padding-top:8px;}
#main3 .conent_wenzi p{ font-family:microsoft yahei; font-size:14px; color:#555454; line-height:33px; width:260px; margin:0 auto;}
#main3 .conent_wenzi p span{ font:25px Georgia,"microsoft yahei";  color:#cf2a2a; margin-top:5px; float:left;}
#main3 .conent_wenzi p  a{ float:right; margin-right:13px; margin-top:5px;}

/*footer*/
#footer{ width:100%; height:245px; background:#fff; margin:0 auto; margin-top:25px;}
#footer .menu{ width:100%; height:38px; background:#d62c2c;}
#footer .menu p{ text-align:center; color:#fff; line-height:38px;}
#footer .menu p a{ color:#fff; padding-left:10px; padding-right:10px;}
#footer .menu p span{ width:20px; font-size:10px; text-align:center;}
#footer .conent_bq{ width:645px; height:70px; text-align:center;  margin:0 auto; clear:both; padding-top:37px;}
#footer .conent_bq p{ font-size:14px; font-family:"microsoft yahei"; text-align:center; color:#4f4d4d;}
#footer .xinxi{ width:490px; height:40px; margin:0 auto;}
#footer .xinxi_tu{ width:106px; height:40px; float:left; margin-left:12px; _margin-left:5px;}

/*------列表页------*/
/*位置*/
#weizhi{ width:100%; border-bottom:1px solid #eae8e8; background:#f9f8f8;}
#weizhi .conent{ width:1185px; height:40px; line-height:40px; margin:0 auto; background:url(../image/wei.jpg) no-repeat 0px #f9f8f8; padding-left:15px;}
#weizhi a{ color:#8e8d8d;}
#weizhi span{ color:#8e8d8d;}

/*分类*/
#fenlei{ width:1200px; height:auto; border:1px solid #e8e8e8; border-top:2px solid #d62c2c; margin:0 auto; background:#fff;padding-bottom:20px; margin-top:18px;}
#fenlei .nerrong_con{ width:1200px; border-bottom:1px solid #eeeded; line-height:24px; }
#fenlei .nerrong_left{ height:35px; line-height:35px; float:left; font-size:12px; font-family:microsoft yahei; background:#f6f6f6; padding-left:5px; padding-right:5px; width:95px; text-align:right; color:#5b5656;}
#fenlei .nerrong_right{ width:1080px; float:left; padding-top:5px;}
#fenlei .nerrong_right a{ width:90px; padding-left:16px; color:#d62c2c; float:left; display:block; line-height:24px; overflow:hidden;}
#fenlei .xiangguan{ width:1140px; margin-left:34px; padding-top:20px;}
#fenlei .xiangguan a{ float:left; line-height:28px; width:120px; overflow:hidden; color:#757474;}
#fenlei .xiangguan a:hover{color:#d62c2c; }

#paixu{ width:1200px; height:38px; line-height:38px; border:1px solid #edecec; margin:8px auto; background:#fff;}
#paixu span{ height:38px; width:84px; line-height:38px; text-align:center; background:#d62c2c; font-size:14px; font-weight:bold; color:#fff; display:block; float:left; margin-right:10px;}
#paixu a{ display:block; width:90px; height:38px; border-right:1px solid #ddd; float:left; text-align:center; background:url(../image/pai.png) no-repeat 60px ;}
#paixu a:hover{ color:#fff; background:url(../image/pai1.png) no-repeat 60px #d62c2c ;}


/*分页样式*/
#fenye_war{ width:1200px; margin:0 auto; height:68px; margin:20px auto; background:#fff; border:1px solid #ddd; padding-top:5px;}
 .fenye { width:480px; height:20px; float:right; margin-top:20px; margin-right:10px;}
 .fenye tt{ display:block; line-height:26px; height:26px; font-size:12px; float:left; margin-left:5px; color:#8b8989;}
 .fenye a{ display:block; float:left; height:26PX; border:1px solid #ccc; font-size:12px; min-width:28px; text-align:center; margin-left:5px;_width:28px; line-height:26px; color:#8b8989;}
 .fenye a:hover{ background:#d32b2b; color:#ffffff;}
 .fenye .gotxt{ float:left; height:22px; width:40px; margin-left:5px}
.fenye .gobtn{ float:left; height:26px; width:40px; background:#d32b2b; color:#ffffff; border:0; line-height:20px; margin-left:5px;}
 .fenye a.pageon{background:#d62c2c; color:#ffffff;}
 
 /*详细页*/
#main4{ width:1200px; height:400px; margin:0 auto; background:#fff; border:1px solid #ddd; margin-top:18px;}
 /*图片放大*/
#preview{text-align:center;width:400px;height:283px;margin-top: 20px;margin-bottom: 20px;margin-left:15px; float:left; border:1px solid #e9e7e8;}
.jqzoom{ width:400px; height:283px; position:relative;}

.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:400px; height:56px; padding-top:6px; overflow:hidden;}
#spec-left{ background:url(images/left.gif) no-repeat; width:10px; height:45px; float:left; cursor:pointer; margin-top:5px;}
#spec-right{background:url(images/right.gif) no-repeat; width:10px; height:45px; float:right;cursor:pointer; margin-top:5px;}
#spec-list{ width:370px; overflow:hidden; float:left;margin-left:2px; display:inline; padding-left:30px;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:62px;}
#spec-list ul li img{ padding:2px ; border:1px solid #ccc; width:50px; height:50px;}

/*jqzoom Download by http://down.liehuo.net*/
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:342px; margin-right:6px;}
#spec-list div{ margin-top:0;margin-left:-30px; *margin-left:0;}

 #main4 .right_xx{ width:720px; height:375px; float:right; margin-top:5px; margin-right:15px; padding-left:20px; position: relative;}
 #main4 .right_xx .shoucang{ width:100px; height:30px; background:url(../image/shou.jpg) no-repeat 0px; margin-top:20px;}
 #main4 .right_xx .shoucang a{ color:#d62c2c; line-height:30px; margin-left:20px;}
 #main4 .right_xx .shoucang a:hover{ text-decoration:underline;}
 #main4 .conents{ width:720px; height:auto; border-bottom:1px solid #e6e4e4; padding-bottom:15px; padding-top:15px; overflow:hidden;}
 #main4 .conents h3{ font-size:18px; font-family:microsoft yahei; padding:0px; margin:0px; text-indent:0px; font-weight:normal;}
 #main4 .conents p{ font-size:14px; color:#636161;}
 
#jinhuod{ width:1200px; margin:22px auto; background:#fff;}
#jinhuod table tr td{ border:1px solid #ddd; text-align:center; color:#636161; font-size:12px; font-family:"宋体"; padding-left:10px; padding-right:10px;}
#jinhuod .huise{ background:#f0edec;}
#jinhuod .caigou{ width:100px; height:25px; margin:0 auto;}
#jinhuod .caigou a{ display:block; width:22px; height:25px; float:left; background:url(../image/caigou.jpg) no-repeat;}
#jinhuod .caigou a.jian{ background-position:-5px -2px;}
#jinhuod .caigou a.jian:hover{ background-position:-5px -30px;}
#jinhuod .caigou a.jia{background-position:-31px -2px;}
#jinhuod .caigou a.jia:hover{background-position:-31px -30px;}
#jinhuod .caigou .text{ width:52px; height:20px; border:1px solid #ddd;  background:#fff; border-left:0px; border-right:0px; text-align:center; color:#555; float:left; margin-top:1px; }
#jinhuod .cgnengr{ width:830px; float:left; padding-right:20px; text-align:left;}
#jinhuod .cgnengr span{ margin-left:15px; line-height:34px;}
#jinhuod .cgnengr span tt{ font-size:14px; color:#e13030; margin-left:5px; margin-right:5px;}
#jinhuod .cgnengr_jg{ width:190px; float: right; margin-right:15px; padding-top:10px; text-align:left;}
#jinhuod .cgnengr_jg p{ font-size:14px; font-family:microsoft yahei; color:#6b6969; line-height:24px;}
#jinhuod .cgnengr_jg p tt{ font-size:16px; font-family:"Arial Black", Gadget, sans-serif; margin-left:8px; margin-right:8px;}
#jinhuod .cgnengr_jg p span{ font-size:18px; font-family:microsoft yahei; color:#fd030f;}
#jinhuod .war_an{ width:200px; float:right; margin-right:60px; margin-top:20px; height:50px; padding-bottom:20px;}
#jinhuod .war_an a{ width:144px; height:43px; background:url(../image/jhd.jpg) no-repeat -8px 0px; display:block; font-size:18px; color:#fff; font-family:microsoft yahei; line-height:43px; text-align:center; float:right;}
#jinhuod .war_an a:hover{ background-position:-8px -46px;}
.hongse{ color:#e13030;}
.beijing{ background:#fef7f7;}

#main_xiangq{ width:1200px; height:auto; margin:0 auto;}
#main_xiangq .tittle{ width:1200px; height:38px; border-bottom:4px solid #e13030;}
.divContent2{width:1158px;clear: both; padding-bottom:20px;border:1px solid #dfdfdf; background:#fff;  padding:20px;}
.divContent2 table tr td{ color:#555; padding-left:10px;}
.divContent2 .conent_nrx{ width:900px; padding-top:30px; margin-left:10px;}
.divContent2 .conent_nrx h3{ font-size:16px; font-family:microsoft yahei; color:#e13030; font-weight:normal; text-indent:0px; margin:0px; line-height:30px;}
.divContent2 .conent_nrx  p{ line-height:24px;}
.normal2{ list-style: none; float: left;width: 124px; text-align :center ;vertical-align :middle ;
height:36px;line-height:37px; height:37px; cursor :pointer ; border:1px solid #ccc;background-color: #fff;border-collapse :separate ; margin-left:5px; font-size:14px; border-bottom:0px; color:#333;}
.selected2{list-style: none;float: left;width: 124px;line-height:38px;height:38px;text-align :center ;vertical-align :middle ;cursor :pointer ; background-color:#e13030 ; font-weight:bold;color: #fff; margin-left:5px;  font-size:14px;}
.divContent2 img{ width:1000px; margin-left:10px;}

#main_xuanze{ width:1160px; height:auto; margin:20px auto; background:#fff; border:1px solid #ddd; padding:20px; }
#main_xuanze span{ height:20px; line-height:20px; color:#555;}
#main_xuanze span input{ float:left;}

/*公司动态*/
#main_dongtai{ width:1200px; height: auto; margin:0 auto; margin-top:18px;}
#main_dongtai .left_dt{ width:235px; height:auto; float: left; background:url(../image/jiao.jpg) no-repeat top #fbf6f6;}
#main_dongtai .conent_dt{ width:232px; height:auto; border:1px solid #dcdcdc; border-top:0px; margin-top:3px; background:#fbf6f6; padding-bottom:80px;}
#main_dongtai .conent_dt .tittle_dt{ width:200px; height:37px; line-height:57px; padding-left:10px; background:url(../image/xia.jpg) no-repeat bottom; padding-top:20px; margin:0 auto;}
#main_dongtai .conent_dt ul li{ width:200px; height:48px; line-height:48px; background:url(../image/xia.jpg) no-repeat bottom;  font-size:14px; margin-left:6px;}
#main_dongtai .conent_dt ul li a{ color:#747272; font-family:14px; font-family:microsoft yahei; padding-left:10px; width:180px;}
#main_dongtai .conent_dt ul li a.bejsd{ display:block; background: url(../image/san.jpg) no-repeat right; }
#main_dongtai .conent_dt ul li a.bejsds{ color:#d62c2c; background: url(../image/san1.jpg) no-repeat right 15px; display:block; }

#main_dongtai .conent_dt ul li a:hover{ color:#d62c2c; background: url(../image/san1.jpg) no-repeat right 15px; }
#main_dongtai .right_dt{ width:940px; border:1px solid #ddd; background:#fff; float:right;}
#main_dongtai .right_dt .tittle_dts{ width:865px; height:40px; border-bottom:1px solid #ddd; line-height:40px; background:url(../image/yuan2.jpg) no-repeat 3px; margin:0 auto; padding-left:25px; font-size:16px; font-family:microsoft yahei; color:#d62c2c;}
#main_dongtai .right_dt .liebiaos{ width:880px; margin:20px auto;}
#main_dongtai .right_dt .liebiaos ul li{ width:860px; height:42px; line-height:42px; border-bottom:1px dashed #ddd; background: url(../image/list2.jpg) no-repeat 3px; padding-left:20px;}
#main_dongtai .right_dt .liebiaos ul li a{ width:770px; height:42px; line-height:42px; overflow:hidden; color:#636262;}
#main_dongtai .right_dt .liebiaos ul li a:hover{ color:#d62c2c;}
#main_dongtai .right_dt .liebiaos ul li span{ color:#888; float:right; margin-right:10px;}

/*新闻详细*/
#main_dongtai .right_dt .xiangxi_s{ width:880px; height:auto; margin:0 auto;}
#main_dongtai .right_dt .xiangxi_titt{ width:880px; height:90px; padding-top:30px; border-bottom:1px dashed #ddd; text-align:center;}
#main_dongtai .right_dt .xiangxi_titt h3{ font-size:14px; font-family:microsoft yahei; color:#555; font-weight:normal; text-indent:0px;}
#main_dongtai .right_dt .conent_xi_sd{ width:860px; height:auto; margin:40px auto;}
#main_dongtai .right_dt .conent_xi_sd img{ width:860px;}

#main_dongtai .right_dt .shangxy{ width:860px; height:auto; margin:0 auto; border-top:1px solid #ddd; height:68px; padding-top:30px; padding-left:20px;}
#main_dongtai .right_dt .shangxy p{ color:#555; line-height:30px;}
#main_dongtai .right_dt .shangxy p a{ color:#444;}
#main_dongtai .right_dt .shangxy p a:hover{ color:#d62c2c;}

/*品牌厂家*/
#main_pin{ width:1200px; height:auto; margin:0 auto;}
#main_pin .conent_pin{ width:1200px; height:190px; border-bottom:1px solid #ddd; padding-top:30px;}
#main_pin .left_pinp{ width:500px; height:180px; float:left;}
#main_pin .lett_tu{ width:225px; height:115px; border:1px solid #e2e2e2; float:left;}
#main_pin .lett_tu img { width:225px; height:115px;}
#main_pin .neirong{ width:250px; height:115px; float:left;margin-left:10px;}
#main_pin .neirong h3{ margin:0px; text-indent:0px; line-height:24px;  }
#main_pin .neirong h3 a{color:#d62c2c;}
#main_pin .neirong p{ color:#5f5e5e; margin-top:5px;}
#main_pin .right_cont{ width:205px; height:170px; float:left; margin-left:25px;}
#main_pin .right_cont p{ text-align:center; line-height:30px;}
#main_pin .right_cont p a{ color:#535050;}
#main_pin .right_cont p a:hover{ color:#d62c2c;}
#main_pin .right_tupian{ width:205px; height:135px; overflow:hidden;}
#main_pin .right_tupian img{width:205px; height:135px;}
#main_pinxx{ width:1200px; height:180px; border:1px solid #ddd; background:#fff; margin:0 auto; margin-top:18px;}
#main_pinxx .leftpx{ width:270px; height:156px; float:left; margin-top:12px; border-right:1px solid #ddd;}
#main_pinxx .left_img{width:225px; height:115px; float:left; margin-left:16px; border:1px solid #ddd; margin-top:10px; overflow:hidden; }
#main_pinxx .leftpx  p{font-size:12px; color:#555; text-align:center; }
#main_pinxx .left_img img{width:225px; height:115px;}
#main_pinxx .rightxx{ width:860px; height:156px; margin-top:12px; float:left; margin-left:20px;}
#main_pinxx .rightxx p{ color:#555; text-indent:25px;}


/*客服中心*/
#main_dongtai .right_dt .kefuzx{ width:880px; margin:0 auto; border-bottom:1px solid #ddd; padding-bottom:20px; padding-top:20px;}
.kefuzx .table tr td{ line-height:40px;}
.text_liu{ width:220px; height:30px; line-height:30px; color:#555; text-indent:5px;}
.button_tj{ width:150px; height:43px; border:0px; line-height:90px; background:url(../image/jhd.jpg) no-repeat; line-height:43px; font-size:14px; color:#fff; font-family:microsoft yahei; float:right; margin-top:20px;}

/*客服*/
/* online */
#online_qq_tab a,.onlineMenu h3,.onlineMenu li.tli,.newpage{background:url(../image/float_s.gif) no-repeat;}
#onlineService,.onlineMenu,.btmbg{background:url(../image/float_bg.gif) no-repeat;}
#online_qq_layer{z-index:9999;position:fixed;right:0px;top:0;margin:150px 0 0 0;}
#online_qq_tab{width:28px;float:left;margin:120px 0 0 0;position:relative;z-index:9;}
#online_qq_tab a{display:block;height:118px;line-height:999em;overflow:hidden;}
#online_qq_tab a#floatShow{background-position:-30px -374px;}
#online_qq_tab a#floatHide{background-position:0 -374px;}

#onlineService{display:inline;margin-left:-1px;float:left;width:130px;display:none;background-position:0 0;padding:10px 0 0 0;}
.onlineMenu{background-position:-262px 0;background-repeat:repeat-y;padding:0 15px; }
.onlineMenu h3{height:36px;line-height:999em;overflow:hidden;border-bottom:solid 1px #ACE5F9; margin:0px; padding:0px;}
.onlineMenu h3.tQQ{background-position:0 10px;} 
.onlineMenu h3.tele{background-position:0 -47px;}
.onlineMenu li{height:36px;line-height:36px;border-bottom:solid 1px #E6E5E4;text-align:center; margin-top:0px;}
.onlineMenu li.zixun{background-position:0px -131px;}
.onlineMenu li.phone{background-position:-16px -244px; font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#d42c2c;}
.onlineMenu li a.newpage{display:block;height:36px;line-height:999em;overflow:hidden;background-position:5px -100px;}
.onlineMenu li img{margin:0px 0 0 0;}
.onlineMenu li.last{border:0;}

.wyzx{padding:8px 0 0 5px;height:57px;overflow:hidden;background:url(../image/webZx_bg.jpg) no-repeat;}

.btmbg{height:12px;overflow:hidden;background-position:-131px 0;}