@charset "utf-8";
/* CSS Document */

.vip{width:1200px;height:auto;margin:20px auto;}
.vip_box{width:1200px;height:220px;border-radius:110px 4px 4px 110px;background:#fff;overflow:hidden;}
.vip_user{width:200px;height:200px;border:10px solid #fff;margin-right:20px;float:left;background:#fff;border-radius:50%;}
.vip_user img{width:100%;height:100%;border-radius:50%;}
.vip_menu{width:960px;height:220px;float:left;}
