html,body{
    margin: 0;
    padding: 0;
    color: #232323;
    font-size: 12px;
    font-family:"Microsoft YaHei";
    letter-spacing: 0px;
    overflow-x: hidden;
	background:url(../images/body_bg.png) no-repeat;
	background-position:bottom;
}
root {display: block;}
html, body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td ,img,textarea{border: 0px;margin: 0px;outline: 0px;padding: 0px;}
fieldset, img { border: 0; }
img { display:inline-block; }
:focus { outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:bold; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size:100%; }
input, button, textarea, select { *font-size: 100%;font-family:微软雅黑;}
ol, ul { list-style: none outside none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a:hover{ font-size:12px; color:#F90}
.left{ float: left}
.right{ float:right}
#top:after,
ul:after,
li:after,
#main:after,
.main_content:after,
.content_style:after,
#Bacon:after{    
    display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	content: '';
}
#main,#top,.bottom_content{ width:1000px; margin:0 auto}

/****************************************顶部样式属性*******************************************/
.bg_top{ position:absolute; z-index:100; left:0px; background:url(../images/imgaes_01.png) no-repeat; height:160px; width:360px; top:5px;}
.topbr{ border:3px solid #13a50c; margin-bottom:10px;}
#top .right_top{ float:left; height:125px; width:670px}
.Search{ margin-top:20px; margin-left:400px; }
.Search .text {
	font-size: 12px;
	background: url(../images/Search_11.png) no-repeat;
	width: 160px;
	height: 34px;
	border: 0;
	line-height: 24px;
	padding: 0px 10px;
	vertical-align: top;
}
.Search .button {
	background: url(../images/Search_12.png) no-repeat;
	width: 41px;
	height: 34px;
	border: 0;
	vertical-align: top;
	margin-left: -4px;
	cursor: pointer;
}
#top .logo{ width:300px; height:125px; float:left; }
/*****************************菜单栏样式****************************************/
.Menu_style{ float:left; margin-top:20px; font-family:"Microsoft YaHei"}
#nav {margin:0 auto; display:block; height:35px; text-align:left; }
#nav .mainlevel {float:left;width:110px; line-height:35px; text-align:center;}
#nav .mainlevel:hover{ background:#13a50c}
.Menu_style #nav .hover a{color:#FFFFFF}
#nav .mainlevel #sub{z-index:1111; border-top:1px solid #ffffff; background: #13a50c; background-position:top }
#nav .mainlevel .Arrow{ position:absolute; background-position:center; width:150px; height:8px; top:-10px; text-align:center}
#nav .mainlevel #sub a{ color:#FFFFFF; font-size:14px; font-weight:normal}
#nav .mainlevel ul {display:none; position:absolute;}
#nav .mainlevel li { background-position:bottom;  width:110px; border-bottom:1px solid  #ffffff;/*IE6 only*/;}
#nav .mainlevel #sub li:hover{ background: #006600; }
#nav .mainlevel a{  display:block; color:#000000; font-size:16px; font-weight:bold;}
#nav .mainlevel a:hover{ color:#ffffff}
/*******************幻灯片样式属性**********************************/
#banner{ margin-top:10px;}
#banner .banner_bg{ background:url(../images/btn_img_10.png) no-repeat; background-position: center; height:15px;}
.slideBox{ height:400px; overflow:hidden; position:relative; border-bottom:1px solid #ddd;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; left:45%; bottom:25px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ 
	float:left; 
	margin-right:2px;  
	line-height:14px; 
	text-align:center; 
	background-color: #FFFFFF;
	cursor:pointer; 
	width: 15px;
	height: 15px;
	float: left;
	border-radius: 50% 50% 50% 50%;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px;
	overflow: hidden;
	text-indent: -999px
}
.slideBox .hd ul li.on{ background:#006600; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; text-align:center;}
.slideBox .bd img{ height:400px; display:block; max-width:100%; }
.slideBox .prev,
.slideBox .next{ 
    position:absolute; left:3%; top:50%; 
	margin-top:-25px; 
	display:block; 
	width:60px; 
	height:100px;
	background:url(../images/slider-arrow.png) -110px 5px no-repeat #000000;
	background-position:center; 
	filter:alpha(opacity=50);opacity:0.5;
}
.slideBox .next{ left:auto; right:3%; background-position:30px 35px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1; }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
/*****************************底部样式属性*************************/
.bottom_content{ line-height:30px; vertical-align:middle; margin-top:30px; margin-bottom:10px;}
.link_name{
    line-height:24px;
    width:500px;
	background:#ffffff; 
	padding:0px 10px;  	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.link_name a{ color:#000000; padding:0px 10px;}
/**********************分页属性****************************/
.pages{ margin:20px 0px;}
.pages a{ margin:0px 10px; font-size:14px;padding:2px 5px; color:#000000;border:1px solid  #E1E1E1}
.pages a:hover{ border:1px solid  #009900; color:#009900}
/*********************************qq资讯样式*****************************/
.kfli img{top:10px; position:relative;}
.kfli {height:40px; line-height:30px; color: #000000; text-align:center;cursor:pointer; border-bottom:1px solid  #D8D8D8; margin:0px 20px; font-size:14px; font-family:"Microsoft YaHei"} 
.phone_Advisory{ text-align:center; padding-top:10px;} 
.phone_img{ background:url(../images/phone_03.png) no-repeat; height:29px; text-align:center; background-position:center;}
.phone_Advisory .Number{ font-size:18px; font-family:Impact; color: #009900; text-align:center; padding-bottom:30px; margin-top:10px;}
#leftad span,#rightad span{cursor:pointer;}  
.QQ_bottom{ background:url(../images/QQ_img_08.png) no-repeat; height:30px;}
#divMenu{ float:right; width:161px;}
/* 在线客服 */
#online_qq_layer { position:fixed; right:0px; top:150px; overflow:hidden; _position:absolute; z-index:110; }
#online_qq_tab { float:left; margin-top: 50px; }
.online_icon { width:30px; height:171px; overflow:hidden; font-family:'宋体'; }
.online_icon a { display:block; width:30px; height:171px; background: url(../images/QQ-zx.png) no-repeat left top; }
#onlineService { float:left; display:none; }
.online_windows { width:161px; }
.online_w_top { background:url(../images/QQ_tp.png) no-repeat; height:9px; }
.online_w_c { background:url(../images/QQ_xd.png) repeat-y; }
.online_w_bottom { background:url(../images/QQ_bottom.png) no-repeat; height:20px }
#online_qq, #online_tel, #online_weixin { clear:both; width:160px; }
#online_qq ul li { line-height:36px; border-bottom:1px solid #e7e7e7; }
#online_qq ul li a { display:block; height:36px; line-height:36px; padding-left:25px; font-family:"微软雅黑"; font-size:14px; background:url(img/qq_ico.jpg) no-repeat 5px 11px; }