*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body { padding: 0px; margin: 0px; font-family: Century Gothic, "Microsoft YaHei", Arial, Verdana;font-size: 12px; color:#444444; background: #fff;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, form, label, input { margin: 0; padding: 0; border: 0; outline: 0; }
table{}
a { color: #444444; text-decoration: none; }
a:hover { color: #b40001; }
ul { list-style: none; }
li { list-style: none; }
img { border: 0px; }
h4{ font-weight:normal;}
.clearfloat {background: none; border: 0; clear: both; display: block; float: none; font-size: 0; margin: 0; padding: 0; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.margin10{ margin-top:10px;}
.fl{ float:left;}
.fr{ float:right;}
.mt10{ margin-top:10px;}
.img100 img{ max-width: 800px;}

/* CSS Header */
#web_top{width: 100%;margin: 0 auto;}
#wrap_top{ width: 100%;margin: 0 auto; height: 35px;  background:#ffffff; border-bottom: 1px solid #f5f5f5; }
#header_top{ width:1200px; margin:0 auto; height:35px; line-height:35px;  }
#header_top a{ margin:0px 5px;color:#e4e4e4; font-size:14px; }
.top_tel{ background:url(../images/top_tel.jpg) no-repeat ;height:35px; line-height:35px;  padding-left: 125px;; color: #eb257d; font-size: 22px;;}
#header_bg { width: 100%;margin: 0 auto; height: 110px; border-bottom: 1px solid #f5f5f5;}
#header { width:1200px; margin: 0 auto;}
#top { }
.logo { float: left; }
.w430{ width:430px;}
.w600{ width:600px; }

#utility { float: right; width: 720px;}
#uti01 { height: 36px; line-height: 36px; text-align: right;color:#fff; }
#uti01 a{ margin:0px 5px;color:#fff; font-size:12px; }
#uti02 {}

#meau { margin:0 auto; width:720px; height:40px; padding-top: 50px; }
#meau .nav { margin-bottom: 0px; padding: 0px 0px 0px 0px; /*导航鼠标hover样式.lon*/}
#meau .nav li { float: left; width: 102px; height: 40px; text-align: right; margin-right:0px; }
#meau .nav li a { color: #eb257d; font-size: 16px; line-height:40px; margin: 0px auto; display: block; }
#meau .nav li span{ line-height:40px; color:#eb257d; }
#meau .nav .lon a { text-decoration: none; color:#eb257d;}

.dropdown{position:relative;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;min-width:100px;padding:0px 0;margin:0;
list-style:none;background-color:#004580;}
.dropdown-menu li a{display:block;padding:0px;clear:both;font-weight:normal;line-height:25px;white-space:nowrap;}
.dropdown-menu li a:hover{color:#ffffff;text-decoration:none;background-color:#5B860D;}

/* CSS banner */
#banner { width: 100%; background:#271f2f ;  }
#flash { max-width: 1200px; overflow: hidden; margin: 0 auto; border: #e8e8e8 0px solid; }

.main_visual{border-top:0px solid #d7d7d7;overflow:hidden;position:relative; width:100%; max-width:1920px; margin:0 auto;}
.main_image{height:600px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;}
.main_image li span{display:block;width:100%; height:600px; }
.main_image li a{display:block;width:100%;}

div.flicking_con{position:absolute;bottom:10px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}

#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:50px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:0px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:0px;}


#container { margin: 0 auto; width: 100%; background:url(../images/container.jpg) no-repeat top center ; height: 1250px; }
#container2 { margin: 0 auto; width: 100%; background:#f5e5ec;  height:750px;}

.w440{ width:440px; text-align: center;}
.w755{ width:755px;}
.xapd{ padding:70px 0px 10px 0px;}

#search{ margin:0 auto; width:100%; height:38px; background:#fff; border-bottom:2px solid #d6d6d6;}
#searchtext{ margin:0 auto;width:1200px; line-height:38px; }
#searchtext a{ }

.inputtext{width:203px; float:left; height:27px;font-family:"宋体"; font-size:12px;color:#787878; background: url(../images/inputtext_bg.jpg) no-repeat top left #fff; text-indent:5px; }
.btn1{ width:32px; height:27px; background:url(../images/btn.jpg) no-repeat; border:0px; float:left; margin-left:3px;}
.btnclass{width:70px; height:27px; background:#f9f9f9; border:1px solid #666666; float:left;}
#searchkey{ height:23px; padding-left:20px; margin-top:5px; line-height:25px;}

.huiyuan_text{ border:1px solid #ebebeb; height:180px; border-top:none; padding-left:32px; background:url(../images/login_bg.jpg) repeat-x bottom #fefefe; }
.denglu{ width:59px; height:24px; background:url(../images/denglu.jpg) no-repeat; border:none;	float:left; margin-left:48px; margin-top:5px;}    
.userinput{border:1px solid #e6e6e6; height:25px;}

#footer {  height:120px; margin: 0 auto;margin-top: 10px; width:100%; background: #271f2f; padding-bottom: 80px;}
#footer_a{ width: 1200px; margin: 0 auto; line-height:40px; text-align:center; color:#fff; height:40px; background: #9e3152;  }
#footer_a a{margin:0px 20px; color:#fff; font-size:14px;}

#footer_weixin{ margin: 0 auto; position: fixed; bottom: 0px; width: 100%; height: 80px; line-height: 80px; background:#eb257d ; text-align: center; font-size: 35px; color:#fff; font-weight: bold;}

#copyright { margin: 0 auto; padding-top: 30px; line-height:30px;  text-align: center; width:1002px; color:#fff; }
#copyright a { color:#fff;}

#wrapper { width: 1200px; margin: 0 auto; height: auto; margin-top:10px; }
#wrapper2 { width: 1200px; margin: 0 auto; height: auto; margin-top: 10px;}

#indexad{ margin:0 auto; width:100%; text-align:center; margin-top:10px; background:#4c5258; }
.indexad01{margin:0 auto; width:100%; background:url(../images/indexad01.jpg) no-repeat top center;height:189px; }

#indexad2{ margin:0 auto; width:100%; text-align:center; margin-top:10px; background:#272c32; }
.indexad02{margin:0 auto; width:100%; background:url(../images/indexad02.jpg) no-repeat top center;height:189px; }

.border-line{ background:url(../images/border-line.jpg) repeat-y right; }
.index_title {width:100%;margin:0 auto;height: 40px;  background:#e3447c;}
.index_title h4 {float: left; font-size:16px; color:#fff; line-height: 40px; padding:0px 20px;}
.index_title span { line-height: 30px; color:#fff; float: left; text-indent:10px; padding-top:6px; }
.index_text{ padding:5px 5px 10px 5px; border:1px solid #e6e6e6; border-top:none; background:#fff;}
.book_bg{ background:url(../images/book_bg.jpg) no-repeat right;}

.index_contact{ line-height:24px; padding:10px; width:600px; margin:0 auto;}
.index_contact p{ padding:0px 10px;}
.index_contact li{ float:left; padding:5px 0px;}
.index_contact li input{ float:left; width:320px; background:#ffffff; border:1px solid #7c7c7c;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;  height:30px;}
.index_contact li textarea{ float:left; width:240px; height:100px; background:#ffffff; border:1px solid #7c7c7c;}
.index_contact li span{ float:left; line-height:30px; text-indent:5px; font-size:14px;}
.ct_span{ float:left; width:80px;}

#link{width:100%;margin:0 auto;padding-top:10px;}
#linka{width:1200px;margin:0 auto;}
.linka_title {width:100%;margin:0 auto;height: 40px; border-bottom:1px solid #a6d1ec;}
.linka_title h4 {float: left; font-size:16px; color:#187ee0; text-indent: 5px; line-height: 40px;}
.linka_title span { line-height: 40px; color: #187ee0; float: left; text-indent:5px; }
.linka_text{ padding:20px 10px 10px 10px; color:#3d3d3d;}
.linka_text a{ margin:0px 8px; color:#3d3d3d}


#indexa{width: 1200px; margin: 0 auto;margin-top: 0px; }
.indexa_title {width:1200px;margin:0 auto;height: 80px; background: url(../images/indexa_title.jpg) no-repeat center top; text-align:center; }
.indexa_title h4 {font-size:26px; color:#0a0a0a; line-height: 40px; padding-top: 5px; font-weight: bold; }
.indexa_title span {line-height: 30px; color: #cbcbcb;  text-indent:10px; font-size: 26px;}
.indexa_text{ padding:0px; border:0px solid #e6e6e6; border-top:none; }

#indexb{width: 1200px; margin: 0 auto; }
.w710{ width:710px; }
.w265{ width:265px;}

.w700{ width:650px;}
.w380{width:380px;}

.indexb_text02{ background: url(../images/indexb_text02.jpg) repeat-x top; padding:15px 0px 10px 0px; margin-top:15px; }
.indexb_title {margin:0 auto;height: 40px; background: url(../images/indexb_title.png) no-repeat top left; }
.indexb_title h4 {float: left; font-size:16px; color:#ba1415; text-indent: 8px; line-height: 40px; font-weight:bold; }
.indexb_title span { line-height: 40px;  float: left; text-indent:5px; background: url(../images/indexb_more.png) repeat-x top; }
.indexb_text{ padding:0px 5px 10px 5px; }
.indexb_bottom{ background:url(../images/indexb_bottom.jpg) center top; height:11px;}

#indexp{width: 1200px; margin: 0 auto;}
.indexp_title{ height:85px; width:100%; margin:0 auto; text-align:center;}
.indexp_title01{ line-height:30px; font-size:36px; padding-top:16px; color:#b40001; }
.indexp_title02{ line-height:25px; font-size:14px; padding-top:5px; color:#7d7d7d;}

#indexp img{ }

.indexp_text{width:500px; float:left;}
.p_text_title{ font-size:30px; line-height:50px;  color:#343434;  font-weight:bold;}
.p_text_title02{ font-size:30px; line-height:55px;  color:#fff;  }
.p_text_con{ font-size:16px; line-height:35px; color:#322121; padding: 10px 40px 0px 0px;}

.p_text_con2{ font-size:25px; line-height:45px; color:#780639; padding: 10px 30px 0px 0px;}

.c_blue{ color:#eb257d; font-weight:bold; font-size: 36px;}
.c_blod{ font-weight: bold;}
.con_title{ font-size: 20px; color: #eb257d; font-weight: bold; line-height: 50px;}

#indexc{width: 1200px; margin: 0 auto;margin-top: 0px; }
#indexc img{ display:block;}

.w320{ width:320px;}
.w670{ width:665px;}
.w395{ width:395px;}
.w250{ width:255px;}
.h250{ height:330px;}
.bg01{ background:#430003; height:395px; background:url(../images/bg01.jpg) no-repeat center top;}

#web_main{width: 100%;margin: 0 auto; margin-top:0px; }
#main_left { float: left; width: 213px; }
.l_title, .s_title, .c_title { height: 80px; background: #e12c78; text-align:center;}
.l_title h4, .s_title h4, .c_title h4 { font-size:24px; color: #ffffff; line-height:30px; padding-top:12px;  }
.l_title span, .s_title span, .c_title span {  line-height: 14px; color: #F7F7F7; font-size:14px;line-height:20px;}
.tuijian, .stor, .contact,.adc,.rightL_con,.Category{ padding: 0px; border:0px solid #e6e6e6; border-top:none; background:#e12c78;}
.left_b{ background:url(../images/left_b.jpg) no-repeat top center; height:10px;}
.leftbg{ background:url(../images/leftbg.jpg) repeat-y center;}
.tuijian { padding: 8px 7px 8px 5px; }

.stor { padding: 5px 6px 5px 16px; margin-bottom: 10px; }
.stor li a { height: 35px; line-height: 35px; width: 175px; display: block; border-bottom: 1px dashed #F3F3F3; margin-bottom: 5px; background: url(../images/productslist_bg.gif) no-repeat center left; text-indent: 25px; }
.stor li a:hover { border: 1px solid #F3F3F3; background:url(../images/productslist_bg.gif) no-repeat center left #f9f9f9;}

.adc { padding: 5px 0px 10px 0px;}
.sliup { margin:10px auto; height: 35px; line-height: 35px;width: 170px; border-bottom:1px dashed #d2aca3; background: url(../images/sliup.jpg) no-repeat 0px 7px; display: block; text-indent:30px; }
.sliup a{ color:#434343; font-size:14px;}
.sliup a:hover { display: block;}

.slidown {  margin:0px auto; height: 25px; line-height: 25px;background:#ccc;width: 100%; display: block; border:1px solid #e6e6e6; margin-bottom: 8px; text-indent:30px;display: block;}
.slidown a:hover {  background:#ccc;display: block;}

.CurrentMenu{display:block;}

.contact { padding:35px 10px 45px 10px; background: #e12c78; text-align:center; font-size:14px; color:#fff;}
.contact p{ font-weight:bold; font-size:24px; line-height:35px;}
.contact a{}


.text_bg{ background:url(../images/cbg.png) no-repeat right center #fff;}

#main_right { float: right; width: 975px; }
.about { float: left; width: 975px; }
.a_title { height: 40px; background:#e12c78;}
.a_title h4 { float: left; font-size:18px; color: #fff; font-size:16px; padding:0px 15px; line-height: 40px; }
.a_title span { line-height: 40px;float: left;color: #fff; text-indent: 10px;  }
.a_text, .n_text, .p_text { border:1px solid #e6e6e6; border-top:none; background:#fff;}

.a_text { line-height: 28px; }
.n_text { padding: 3px 3px 13px 7px; }
.n_text li { height: 25px; border-bottom: 1px dashed #9e9e9e; line-height: 25px; background: url(../images/dot.gif) no-repeat 5px 11px; text-indent: 15px; }
.news { float: right; width: 251px; }

.products { float: left; width: 877px;  }

.products_left{float: left; width:470px;border: 0px solid #D5D5D5;}
.products_right{float: right; width:272px;border: 0px solid #D5D5D5;}

.pro_title { height: 40px; background: url(../images/title3.jpg); }
.pro_title h4 { float: left; font-size:14px; color: #fff; text-indent: 25px; line-height: 38px;}
.pro_title span {line-height: 40px;  float: left; text-indent: 10px;}

.pro_title2 { height: 40px; background: url(../images/title4.jpg); }
.pro_title2 h4 {float: left; font-size:14px; color: #fff; text-indent: 25px; line-height: 38px;}
.pro_title2 span {line-height: 40px;  float: left; text-indent: 0px;}

.pro_title3 { height: 41px; background: url(../images/title5.jpg); }
.pro_title3 h4 { float: left; font-size:14px; color:#fff;text-indent: 35px; line-height: 41px;}
.pro_title3 span {line-height: 41px; color: #2c6ac8; float: left; text-indent: 10px; font-family: Century Gothic;}

.pro_text { padding: 0px; border:1px solid #e6e6e6; border-top:none;}
.pro_text p{ padding: 0px 0px 0px 0px;}
.pro_text a{}

.news_text {margin:0 auto; padding-left:5px; padding-bottom:5px; }
.news_text li { width:260px;border-bottom:1px #6d8abe dashed;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:url(../images/dot.gif) no-repeat center left;;height: 30px; line-height: 30px; margin-top:5px;  }
.news_text li a { display: block; text-indent: 20px; }
.news_text li a:hover { border: 0px solid #0179C5; }

.picture{ float:left; width:300px; height:260px; overflow:hidden; margin:10px 12px 0px 12px; }
.picture1{   
    height:225px;
	width:300px;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	display:table-cell; 
	/* position:relative;  */
	*display: block;
  }
.picture2{height:35px; text-align:center; line-height:35px; }
.picture2 a{ font-size:14px;}
.picture1 img{ vertical-align:middle; border:0;}
.picture1 img:hover{filter: alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}

.pictureh{ float:left; width:220px; height:195px; overflow:hidden; margin:0px 10px 0px 10px;}
.pictureh1{   
    height:165px;
	width:220px;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	display:table-cell; 
	background:#fff;
	/* position:relative;  */
	*display: block;
  }
.pictureh2{height:30px; text-align:center; line-height:30px;}
.pictureh1 img{ vertical-align:middle; border:0;}
.pictureh1 img:hover{filter: alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}


.picturea{ float:left; width:250px; height:225px; overflow:hidden; margin:5px 12px 0px 12px;}
.picturea1{   
    height:190px;
	width:250px;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	display:table-cell; 
	/* position:relative;  */
	*display: block;
  }
.picturea2{height:35px; text-align:center; line-height:35px;}
.picturea1 img{ vertical-align:middle; border:0;}
.picturea1 img:hover{filter: alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}


.pictureb{ float:left; width:250px; height:315px; overflow:hidden; margin:5px 12px 0px 12px;}
.pictureb1{   
    height:310px;
	width:250px;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	display:table-cell; 
	/* position:relative;  */
	*display: block;
  }
.pictureb2{height:35px; text-align:center; line-height:35px;}
.pictureb1 img{ vertical-align:middle; border:0;}
.pictureb1 img:hover{filter: alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}


.pictured{ float:left; width:220px; height:310px; overflow:hidden; margin:5px 10px 0px 12px;}
.pictured1{   
    height:275px;
	width:220px;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	display:table-cell; 
	/* position:relative;  */
	*display: block;
  }
.pictured2{height:35px; text-align:center; line-height:35px;}
.pictured1 img{ vertical-align:middle; border:0;}
.pictured1 img:hover{filter: alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}

.piclist{ float:left; width:170px; height:200px; overflow:hidden; margin:10px 13px 10px 15px;}
.piclist1{   
    height:170px;
	width:170px;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	display:table-cell; 
	border:1px solid #f0f0f0;
	/* position:relative;  */
	*display: block;
  }
.piclist2{height:30px; text-align:center; line-height:30px;}
.piclist1 img{ vertical-align:middle; border:0;}

.picturee{ float:left; width:320px; height:250px; overflow:hidden; margin:5px 20px 0px 20px;}
.picturee1{   
    height:240px;
	width:320px;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	display:table-cell; 
	/* position:relative;  */
	*display: block;
  }
.picturee2{height:35px; text-align:center; line-height:35px;}
.picturee1 img{ vertical-align:middle; border:0;}
.picturee1 img:hover{filter: alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}


.webnews { height: 120px;width:540px; float:left; background:#ffffff;  margin: 0px 15px; border-bottom: 1px dashed #f4f4f4; padding: 10px 0px;}
.webnews_left { float: left; width:160px; line-height: 35px;}
.webnews_right { float: right; width:365px; }

.webnews_title{line-height:30px;width:365px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-top: 0px;}
.webnews_title a{ font-size: 14px; font-weight: bold;}
.webnews_text{line-height:25px;padding: 0px 10px 0px 0px; color:#7e7b7b;}

.frnews{ margin:0 auto; width:100%;}
.frnews01{ height:35px;line-height:35px; padding-left:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-bottom: 1px dashed #ddddde; background:url(../images/q.jpg) no-repeat center  left;}
.frnews01 a{}
.frnews02{ line-height:25px;padding-left:25px; background:url(../images/a.jpg) no-repeat 0px 7px; margin-top:4px;}


.index_news{}
.webnews_list { height: 50px; border-bottom: 1px dashed #e0bebb; width:95%; margin:0 auto; }
.webnews_list_left { float: left; width:500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../images/middot_bg.jpg) no-repeat center left; line-height: 50px; text-indent: 20px;}
.webnews_list_left  a{ font-size:14px;}
.webnews_list_right { float: right; line-height: 50px;}

#page { height: 30px;  line-height: 30px; text-align: center; margin: 20px auto; font-size: 12px; clear: both; }
#page a { font-size: 12px; }
#page a:hover {}

#newTitle { width: 100%; line-height:50px; font-size: 18px; font-weight: 600; text-align: center; margin: 0 auto; padding-top:10px; }
#newsInfo { width: 100%; height: 20px; font-size: 12px; text-align: center; margin: 0 auto; }
.newsinfoleft { padding-left: 30px; }
#newsContent { width: 90%; margin: 0 auto; font-size: 12px; padding: 20px 20px; }
#newsContent img{ max-width: 800px;}

.xxsmys { width: 90%px; height: 30px; line-height: 30px; background-color: #ececec; }
.xxsmwz { width: 100px; height: 30px; color: #FFF; text-align: center; display: block; background-color: #e2447c; }


/**liuyan*/
.formmcys { width: 70px; height: 34px; line-height: 34px; display: block; float: left; text-align: right; }
.chakan { padding-top: 13px; }
.formys { width: 600px; height: auto; padding: 10px; }
.cpmcys { width: 280px; height: 34px; border: 1px solid #F3F3F3; }
.formbz { float: left; }
.G_InputText { width: 278px; height: 30px; border: 1px solid #d2d4d6; }
.G_textarea { width: 300px; height: 100px; border: 1px solid #F3F3F3; }
.G_ul { width: 500px; margin: 0 auto; }
.G_botton { width: 55px; height: 30px; line-height: 30px; border: 0; background: url(../images/button.gif) no-repeat; cursor: pointer; }
.borderLi { width: 500px; height: auto; padding-top: 10px; }
.G_tips { width: 486px; margin: 10px auto 0 auto; border: 1px solid #F3F3F3; padding: 7px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0px 0px 3px rgba(0, 0, 0, .1); -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .1); -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .1); }
.guestbook_left { float: left; width: 55px; margin-right: -55px; padding: 6px 0px; }
.guestbook_left { float: left; width: 55px; margin-right: -55px; padding: 6px 0px; }
a.headpic img { padding: 2px 5px 5px; background: url("../images/btnbgnew05.png") no-repeat scroll -5px -184px  rgb(255, 255, 255); width: 45px; height: 45px; }
a.headpic { background: none repeat scroll 0% 0% transparent; }
.hp-wrap a { color: rgb(0, 94, 172); text-decoration: none; cursor: pointer; }
.guestbook_right { margin-left: 0px; line-height: 19px; padding: 5px 20px 5px 20px; margin-bottom: 10px; border-bottom: 1px dashed rgb(219, 219, 219); height: auto !important; min-height: 48px; }
.guestbook_right { line-height: 19px; }
.guestbook_right em, .stime { font-size: 11px; padding-left: 3px; color: rgb(102, 102, 102); font-weight: 100; }
.guestbook_right p { margin: 0px 0px 2px; padding: 0px; }
.guestbook_right { font-family: Arial, Helvetica, sans-serif, 宋体; font-size: 12px; color: rgb(18, 18, 18); }
.hp-wrap { line-height: 19px; }
.hp-wrap p { padding: 10px 0px; }
.guestbook_left a.headpic { background: none repeat scroll 0% 0% transparent; background-color: transparent; background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; background-clip: border-box; background-origin: padding-box; background-size: auto auto; }
.guestbook_left a.headpic img { padding: 2px 5px 5px; background: url("../images/btnbgnew05.png") no-repeat scroll -5px -184px  rgb(255, 255, 255); width: 45px; height: 45px; }
.guestbook_left a img, .guestbook_left a:hover img { background-color: rgb(255, 255, 255); background: url("../images/btnbgnew05.png") no-repeat scroll -5px -245px  rgb(255, 255, 255); }
.guestbook_left a { color: rgb(0, 94, 172); text-decoration: none; -moz-text-blink: none; -moz-text-decoration-color: -moz-use-text-color; -moz-text-decoration-line: none; -moz-text-decoration-style: solid; cursor: pointer; }
#box { width: 245px; height: 145px; background: #fff; margin: 0px auto; position: relative; overflow: hidden; z-index: 5000; border: 1px solid #e5e5e5; }
#list { position: absolute; left: 0; top: 0; }
#list li { width: 245px; height: 145px; cursor: pointer; }
#num { position: absolute; right: 5px; bottom: 5px; }
#num li { width: 16px; height: 16px; float: left; margin-right: 2px; color: #fff; cursor: pointer; font-size: 12px; font-family: 'Arial'; line-height: 16px; text-align: center; border: 1px solid #fff; }
.active { background: #009ADA; }

.recruitys {
	width: 670px;
	height: auto;
	padding: 10px;
	background-color: #fafafa;
	border: #F3F3F3 solid 1px;
}

.recruitcon {
	width: 650px;
	height: 173px;
	border-bottom: #cdcdcd dashed 1px;
	margin: 10px;
}

.recruitcon1 {
	width: 650px;
	height: 173px;
	margin: 10px;
}

.recruitconl {
	width: 145px;
	height: 153px;
	float: left;
	text-align: left;
}

.recruitconc {
	width: 372px;
	height: 153px;
	float: left;
	padding-left: 75px;
}

.recruitconc li {
	width: 372px;
	height: 35px;
	line-height: 35px;
	color: #444444;
}

.zwmcys {
	color: #ff6c00;
	font-weight: bold;
}

.recruitconr {
	width: 133px;
	height: auto;
	float: left;
	text-align: center;
}

.blk_18 { margin-top:5px; OVERFLOW: hidden;  WIDTH: 710px;margin:0 auto; }
.blk_18 .pcont {
FLOAT: left; OVERFLOW: hidden; WIDTH: 685px
}
.blk_18 .ScrCont {
WIDTH: 32766px; ZOOM: 1
}
.blk_18 #List1_1 {
FLOAT: left
}
.blk_18 #List2_1 {
FLOAT: left
}
.blk_18 .LeftBotton {
BACKGROUND: url(../images/left.jpg) no-repeat center left; FLOAT: left;  WIDTH:12px; height:39px; margin-top:50px;}
.blk_18 .RightBotton {
BACKGROUND: url(../images/right.jpg) no-repeat center right; FLOAT: left; WIDTH: 12px; height:39px; margin-top:50px;}
.blk_18 .pl IMG {
DISPLAY: block; MARGIN: 6px auto 1px; CURSOR: pointer; BORDER: #f3f3f3 1px solid; 
}
.blk_18 .pl {
FLOAT: left; WIDTH: 195px; LINE-HEIGHT: 24px;  TEXT-ALIGN: center; TEXT-DECORATION: underline; margin-left:5px; margin-right:5px;
}
.commu_cont3 {
MARGIN: 9px 7px 7px; LINE-HEIGHT: 150%
}
.commu_cont3 UL {
WIDTH: 188px
}

/* qqshop focus */
#focus {
  width: 208px;
  height: 175px;
  overflow: hidden;
  position: relative;
}
#focus ul {
  height: 175px;
  position: absolute;
}
#focus ul li {
  float: left;
  width:208px;
  height: 175px;
  overflow: hidden;
  position: relative;
  background: #000;
}
#focus ul li div {
  position: absolute;
  overflow: hidden;
}
#focus .btnwBg {
  position: absolute;
  width: 208px;
  height: 20px;
  left: 0;
  bottom: 0;
  background: #000;
}
#focus .btnw {
  position: absolute;
  width: 208px;
  height: 14px;
  padding: 5px 10px;
  right: 0;
  bottom: 0;
  text-align: right;
}
#focus .btnw span {
  display: inline-block;
  _display: inline;
  _zoom: 1;
  width: 15px;
  height: 10px;
  _font-size: 0;
  margin-left: 5px;
  cursor: pointer;
  background: #fff;
}
#focus .btnw span.on {
  background: #fff;
}
/* #focus .preNext {width:45px; height:100px; position:absolute; top:90px; background:url(../images/sprite.png) no-repeat 0 0; cursor:pointer;} */
#focus .pre {
  left: 0;
}
#focus .next {
  right: 0;
  background-position: right top;
}
.cus-con {
  padding: 10px 15px;
}
.cus-con p {
  line-height: 28px;
}
/*新闻切换 */
.indexc_con{ height:32px;text-align:left; margin-top:2px; margin:0 auto;}
.indexc_con .tab{ overflow:hidden; margin:0 auto; width:520px; height:32px;}
.indexc_con .tab a{ display:block;float:left; text-decoration:none;color:#fff;text-align:center; width:110px; line-height:25px; margin:0px 0px 0px 3px; background:url(../images/tab.jpg) no-repeat top; height:32px;}
.indexc_con .tab a:hover{ background:url(../images/tabon.jpg) no-repeat top; color:#fff; text-decoration:none;}
.indexc_con .tab a.on{ background:url(../images/tabon.jpg) no-repeat top; color:#fff; text-decoration:none;}
.content{ overflow:hidden; padding:0px 10px; height:190px;}
.content li{ display:none;}

/*产品描述*/
#proinfo01{ margin:0 auto; width:100%; }
#proinfo02{ margin:0 auto; width:100%;  margin-top:10px;}
.proinfo02_title {width:1200px;margin:0 auto;height: 40px; background: url(../images/proinfo02_title.jpg) no-repeat; }
.proinfo02_title h4 {float: left; font-size:14px; color:#c50000; text-indent: 38px; line-height: 38px;}
.proinfo02_title span { line-height: 40px; color: #b5b5b5; float: left; text-indent:5px;}
.proinfo02_text{ padding: 0 1px 1px 1px; border:1px solid #e6e6e6; border-top:none; }
#proinfo03{ margin:0 auto; width:100%; height:auto; margin-top:10px;}
.w612{ width:550px;}
.w380{ width:430px;}
.f_title01{height:50px; line-height:50px;font-size:14px; border-bottom:1px dashed #ccc; margin-bottom:5px; }
.f_title02{height:40px; line-height:40px; font-size:14px; }
.f_title03{height:40px; line-height:40px; font-size:14px; }
.f_title04{ padding-top:8px;}

.box{width:620px;margin:0px auto}
.left-pro{width:522px; padding:20px 10px;border:1px solid #ccc;text-align:left;float:left}
.left-pro .t1{width:100px;float:left}
.left-pro .t2{width:352px;text-indent:0;float:left;padding-left:10px}
.left-pro .t2 img{text-indent:0;}

#showArea img{cursor:pointer;display:block;margin-bottom:5px;width:68px;padding:1px;border:1px solid #ccc;height:68px;float:left}
#main_img{cursor:pointer;display:block}
#gotop{cursor:pointer;display:block;margin-left:9px}
#gobottom{cursor:pointer;display:block;margin-left:9px}
#showArea{height:379px;margin:10px;overflow:hidden}

.pro_flash{ margin:0 auto; width:1200px;}

.project{width:759px;margin:0 auto; position:relative;margin-top:0px;}
.project .project_middle{width:759px;background:#ffffff; overflow:hidden;}
.project .project_middle .title{height:40px; line-height:38px; overflow:hidden; background:url(../images/title5.jpg) no-repeat left top; }
.project .project_middle .title .tpl{ float:left;width:70%; padding:7px 0px 0px 10px;}
.project .project_middle .title .tpl li{ float:left; width:90px;height:32px; line-height:32px;margin-right:10px; font-size:14px;overflow:hidden;}
.project .project_middle .title .tpl li a{ display:block; text-align:center; line-height:30px;}
.project .project_middle .title .tpl li a:hover{ background:url(../images/project_title.jpg) no-repeat;color:#ffffff;}
.project .project_middle .title .tpl .hover a{background:url(../images/project_title.jpg) no-repeat;color:#ffffff;}
.project .project_middle .title .search{width:30%; float:right; text-align:right; padding:0px 15px 0px 0px;}
.project .project_middle .title .search input{width:170px;height:28px; border:1px solid #dfdfdf; margin-right:10px;color:#666666; text-indent:24px;}
.project .project_middle .title .search button{width:60px;height:30px; background:url(../images/search.jpg) no-repeat; border:none;color:#ffffff; }
.project .project_middle .project_box{padding:20px 20px 10px 20px;border:1px solid #e6e6e6; border-top:none; background:#fefefe;}

